<div>
  <h1>To Do List</h1>
  <h2>What would you like to do today</h2>
  <div>
    <input #newItem placeholder="add an to do" type="text" (keyup.enter)="addItem(newItem.value); newItem.value=''"
      id="addItemInput" />
    <button (click)="addItem(newItem.value)">Add</button>
  </div>
  <ul>
    @for (item of items; track item.id){
    <li>
      <div>
        {{ item.description }}
        <button (click)="toggleItem(item.id)">{{ item.done ? 'Done' : 'Not Done' }}</button>
        <button (click)="removeItem(item.id)">Delete</button>
      </div>
    </li>
    }
  </ul>
  </div>